@media screen and (max-width: 1200px){
    .archive-header__inner {
        padding: 0;
    }

    .archive-page__inner {
        padding: 0 15px;
    }

    .article-item__image-block {
        flex: 0 0 63%;
        max-width: 63%;
    }

    .post__content > *:not(img):not(iframe) {
        padding-left: 140px;
        padding-right: 140px;
    }

    .post__header {
        padding: 0 140px;
    }
}

@media screen and (max-width: 991px){
    .post__breadcrumb {
        margin-top: 60px;
        margin-bottom: 30px;
        padding-left: 0;
    }

    .post-header__meta {
        margin-bottom: 10px;
    }
    .archive-header {
        padding-top: 200px;
        padding-bottom: 60px;
        background-size: cover;
        background-position-x: -170px;
        background-position-y: -30px;
    }

    .post__content > *:not(img):not(iframe) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .archive-header__breadcrumb {
        margin-bottom: 30px;
    }

    .article-item,
    .article-item__image-block {
        height: 340px;
    }
    .article-item__image-block {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .article-item__body {
        padding: 30px 35px;
    }

    .archive-list__pagination {
        margin: 40px 0;
    }

    .similar-news .section-news__inner {
        padding: 0;
    }
    
    .post__header {
        padding: 0;
    }

    .article-content {

        iframe {
            height: 380px;
        }
    }
}

@media screen and (max-width: 767px){
    
    
    .article-item {
        height: auto;
        border-radius: 0px 0 30px 30px;
    }

    .article-item__image-block {
        max-width: 100%;
        flex: 0 0 100%;
        height: 300px;
    }

    .article-item__inner {
        flex-direction: column;
    }

    .article-item__body {
        padding: 40px 35px;
    }

    .article-item__date {
        margin-bottom: 20px;
    }

    .article-content {

        iframe {
            height: 280px;
        }
    }

}

@media screen and (max-width: 575px){
    .archive-tabs__list {
        flex-wrap: wrap;
    }

    .archive-tabs__list-item {
        margin: 0 20px 20px 0;
    }

    .post-header__title {
        font-size: 3rem;
    }

    .article-content {

        iframe {
            height: 240px;
        }
    }

    .archive-header {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 420px){
    .archive-header {
        background-size: 1500px;
        background-position-x: -340px;
    }

    .archive-tabs__list {
        justify-content: space-between;
    }

    .archive-tab {
        font-size: 1.4rem;
        width: 100%;
        padding: 8px;
        display: block;
        height: 100%;
    }

    .archive-tabs__list-item {
        margin-right: 0;
        max-width: 49%;
        flex: 0 0 49%;
        text-align: center;
        
    }

    .search-form .nice-select:after {
        right: 10px;
    }
}

@media screen and (max-width: 320px){
    .search__area {
        padding: 30px 10px 30px;
    }
    .section-advantage {
        overflow: hidden;
    }
}


