/* Media Header
* ======================================= */
@media screen and (max-width: 991px){
    .header__topbar,
    .nav__menu {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 991px) {
    .dropdown-menu__item::before {
        top: 12px;
        transform: translateY(0);
    }
}